* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
html,
.notion {
  font-family: 'DM Sans', sans-serif !important;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.utterances {
  max-width: 100% !important;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}
